<div class="container-fluid banner d-flex justify-content-center gap-4 pt-2 d-flex flex-column align-items-center">
    <p>Looking for a supplier to buy items in stock? We've got you covered! Visit us in store and have a<br> 
        chat or send us an email.
    </p>
    <a href="/catalogue" class= "custom-link px-4 py-3">Contact Us</a>
</div>