
<div class="container-fluid footer-bg d-flex p-5">
    <div class="container-fluid footer-inner d-flex flex-sm-row row justify-content-lg-center align-items-lg-center p-5">
        <!--Flex-item-->
        <div class="container d-flex flex-column col-4" style="width: fit-content;height: 154px;">
            <h2 class="footer-headings">QUICK LINKS</h2>
            <a class="nav-link">Home</a>
            <a class="nav-link">Catalogue</a>
            <a class="nav-link">About</a>
            <a class="nav-link">Find us</a>
            <a class="nav-link">Contact us</a>
        </div>
        <!--Flex item-->
        <div class="container d-flex flex-column col-4" style="width: fit-content;height: 154px;">
            <h2 class="footer-headings">CONTACT US</h2>
            <h3 class="footer-body">Email: bluekingfashion<br/>@gmail.com</h3>
            <h3 class="footer-body">Tel: 1234567891</h3>
        </div>
        <!--Flex item-->
        <div class="container d-flex flex-column col-4" style="width: fit-content;height: 154px;" >
            <h2 class="footer-headings">LOCATION</h2>
            <h3 class="footer-body">290 Boom St,<br/>Asiatic Bazaar,<br/>Pretoria, 0183</h3>
        </div>
        <!--Flex item-->
        <div class="container d-flex flex-column col-4" style="width: fit-content; height: 154px;">
            <h2 class="footer-headings">SOCIALS</h2>
            <div class="container d-flex flex-row p-0 m-0">
                <a class="nav-link" href="#">
                    <img src="/public/images/socials/square-instagram-brands-solid.svg" class="socials-img" alt="Instagram logo">
                </a>                    
                <a class="nav-link" href="#">
                    <img src="/public/images/socials/square-facebook-brands-solid.svg" class="socials-img" alt="Facebook logo">
                </a>                   
                <a class="nav-link" href="#">
                    <img src="/public/images/socials/square-x-twitter-brands-solid.svg" class="socials-img" alt="X logo">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid copyright d-flex justify-content-center align-items-center">
    <h1>Copyright @2024 Blue King Fashion. All rights reserved.
        <br/>Website Design By Zean Grata
    </h1>
</div>
