<div class="container-fluid info-banner d-flex justify-content-center align-items-center">
    <h1>Trading Hours | Mon - Sat: 08:00 - 17:00 | Sun: 08:00 - 15:00</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-5" href="/">
        <img class="brand-img" src="/public/images/logo.png" alt="Company logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav d-flex gap-3">
        <li class="nav-item active">
            <div class="nav-link-container">
                <a class="nav-link" href="#">HOME</span></a>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link-container">
                <a class="nav-link" href="#">CATALOGUE</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link-container">
                <a class="nav-link" href="#">About</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link-container">
                <a class="nav-link" href="#">FIND US</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link-container">
                <a class="nav-link" href="#">CONTACT US</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>