<style>
  @keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}
</style>
<div class="container-fluid my-5 subtitle">
    <h1 class="text-center">See what's new</h1> 
</div>
<div class="container-fluid d-flex gap-3 w-100 h-500 bg-primary" style="overflow: hidden;
    white-space: nowrap;">
  <div class="container border-1" style="white-space: nowrap;
    animation: loop 5s linear infinite;">Item 1</div>
  <div class="container border-1" style="white-space: nowrap;
    animation: loop 5s linear infinite;">Item 1</div>
  <div class="container border-1" style="white-space: nowrap;
    animation: loop 5s linear infinite;">Item 1</div>
  <div class="container border-1" style="white-space: nowrap;
    animation: loop 5s linear infinite;">Item 1</div>
  <div class="container border-1" style="white-space: nowrap;
    animation: loop 5s linear infinite;">Item 1</div>
</div>