<script src="/public/scripts/new_apparel.js"></script>
<div class="container-fluid d-flex justify-content-center mt-5 mb-3 subtitle">
    <h1>See What's New</h1>
</div>
<div class="card-collection">
    <div id="collection-inner">
        <button id="prv">Previous</button>
        <div class="card">
            <img src="/public/images/catalogue/footwear/hats.webp" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/hats.webp" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/hats.webp" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/hats.webp" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/hats.webp" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <button id="nxt">Next</button>
    </div>
</div>