<script src="/public/scripts/newApparel.js"></script>
<div class="container-fluid d-flex justify-content-center my-5 subtitle">
    <h1>See What's New</h1>
</div>
<div class="card-collection">
    <div id="collection-inner">
        <button id="slide">Prev</button>
        <div class="card">
            <img src="/public/images/catalogue/footwear/domino-studio-164_6wVEHfI-unsplash.jpg" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/emily-pottiger-Zx76sbAndc0-unsplash.jpg" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/irene-kredenets-dwKiHoqqxk8-unsplash.jpg" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/paul-gaudriault-a-QH9MAAVNI-unsplash.jpg" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
        <div class="card">
            <img src="/public/images/catalogue/footwear/wengang-zhai-_fOL6ebfECQ-unsplash.jpg" class="card-img-top product-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Headwear</h5>
                <p class="card-text text-center text-wrap">A variety of hats, caps and head accessories are available in various colours.</p>
            </div>
        </div>
    </div>
</div>