<div class="col d-flex align-items-center justify-content-center">
    <div class="card">
        <img src="<%- img %>" class="card-img-top product-img" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">Headwear</h5>
            <p class="card-text text-center">A variety of hats, caps and head accessories are available in various colours.</p>
        </div>
    </div>
</div>