@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.info-banner {
    height: 50px !important;
}

.footer-bg {
    background-color: #2A3141;
    height: 400px;
}

.footer-inner {
    background-color: #171B24;
    height: 300px;
}

.footer-headings{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: fit-content;
}

a.nav-link, .footer-body {
    text-decoration: none;
    color: #E7E4E4;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    width: fit-content;
}

a:hover.nav-link {
    color: #FFF;
    padding: 0;
    margin: 0;
}

ul.quick-links a {
    padding: 0;
}

.socials-img {
    width: 40px; 
    height: 40px;
}

.copyright, .info-banner, .page-title {
    background-color: #171B24;
    width: auto;
    height: 128px;
    text-align: center; 
}

.copyright h1, .info-banner h1 {
    color: #E7E4E4;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 40px;
}

@media only screen and (max-width: 740px) {
    .footer-headings, .footer-body, .nav-link, .info-banner > h1, .copyright > h1 {
        font-size: 12px !important;
        line-height: normal;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer-headings, .footer-body, .nav-link, .info-banner > h1, .copyright > h1 {
        font-size: 8px !important;
        line-height: normal;
    }
    .footer-bg {
        height: 600px;
    }

    .footer-inner {
        height: 500px;
    }

    .socials-img {
        width: 20px; 
        height: 20px;
    }
  }

  /*Catalogue specific styles*/
  .product-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 0;
  }

  .page-title {
    height: 100px !important;
    text-align: left !important;
  }

  .page-title h1{
    color: #E7E4E4;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 40px;
  }

  .card {
    border-radius: 10px;
    height:fit-content;
    width: fit-content;
    margin-bottom: 50px;
    background-color: #c8c9ca;
  }

  .card-container {
    width: fit-content;
  }
  @media (max-width: 576px) {
    .center-xs .col {
      max-width: 80%; /* Adjust width as needed */
      margin: 0 auto;
    }
  }