<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <script defer src="/public/scripts/catalogue.js"></script>
        <title>Catalogue</title>
    </head>
    <body>
        <header class="sticky-top">
            <%- include('../partials/header'); %>
        </header>
        <main>
            <section class="title-container pt-4">
                <div class="container-fluid page-title d-flex align-items-center p-5">
                    <h1>Catalogue</h1>
                </div>
            </section>
            <section class="products-container pt-5 d-flex flex-column align-items-center justify-content-center gap-5">
                <%- include('../partials/productBrowser'); %>
            </section>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        
    </body>
</html>