<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Home</title>
    </head>
    <body>
        <header class="sticky-top">
            <%- include('../partials/header'); %>
        </header>
        <main>
            
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        
    </body>
</html>