/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root body {
    font-family: 'Lato', Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
    color: #0B0b1b;
    line-height: 1.6em;
    overflow: auto;
    background-color: #ffffff;
}

.navbar {
    border-bottom: #c8c9ca solid 1px;
}

.nav-link {
    color: #0B0b1b !important;
    transition: color ease 0.2s;
}

.nav-link:hover {
    color: #ff2b3d !important ;
}

.carousel-item { 
    height: 500px;
}

.carousel-img {
    height: inherit;
    object-fit: cover;
}

.info-banner {
    height: 40px !important;
}

.footer-bg {
    background-color: #ff2b3d;
    height: 300px;
}

.footer-headings{
    font-size: 25px;
    font-weight: 900;
    width: fit-content;
}

.nav-link, .footer-body {
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
}

ul.quick-links a {
    padding: 0;
}

.socials-img {
    width: 40px; 
    height: 40px;
}

.copyright, .info-banner {
    background-color: #111923;
    width: auto;
    height: 100px;
    text-align: center; 
}

.copyright h1, .info-banner h1 {
    color: #E7E4E4;
    font-size: 15px;
    font-weight: 900;
    line-height: 25px;
}

@media only screen and (max-width: 740px) {
    .footer-headings, .footer-body, .nav-link, .info-banner > h1, .copyright > h1 {
        font-size: 12px !important;
        line-height: normal;
    }
}

@media only screen and (max-width: 500px) {
    .footer-headings, .footer-body, .nav-link, .info-banner > h1, .copyright > h1 {
        font-size: 8px !important;
        line-height: normal;
    }
    .footer-bg {
        height: 600px;
    }

    .footer-inner {
        height: 500px;
    }

    .socials-img {
        width: 20px; 
        height: 20px;
    }
}

/*Catalogue specific styles*/
.product-img {
    border-radius: 0px !important ;
    height: 15rem;
    padding: 0;
    margin: 0;
}

.page-title h1{
    font-weight: bolder;
    font-size: 45px;
}

.card {
    border: none;
    background-color: #ffffff !important;
    width: 18rem;
}

.card-body {
    background-color: #ffffff !important;
}

.product-img, .card, .card-img-top {
    border-radius: 0px !important;
}

/* .brand-img {
    width: 80px;
    height: 80px;
} */

/* .brand-title {
    border: #0B0b1b 4px solid;
} */

.brand-img {
    width: 300px;
    height: 70px;
}

.brand-title h1, .brand-title h2 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #171B24;
}

.brand-title h1 {
    font-size: 25px;
    text-align: center;
}

.brand-title h2 {
    font-size: 18px;
    text-align: center;
}

.bg-light {
    background-color: #FFF !important;
}

/* @media only screen and (min-width: 576px) {
    .card {
        width: 15rem;
    }
} */

/*Banner styles*/
.banner {
    height: 200px;
    background-color: #f0f0f0;
}

.banner > p {
    font-size: 20px;
    text-align: center;
}

.custom-link {
    background-color: transparent;
    border: solid rgb(6, 16, 56) 4px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    font-weight: 600;
    transition: ease 0.5s;
    text-decoration: none;
    color: inherit;
}

.custom-link:hover {
    background-color: #ff2b3d;
}

.subtitle {
    border-bottom: solid #ff2b3d;
    width: fit-content;
    height: fit-content;
}